/*
 * Copyright (c) 2023 ozkan (github.com/ozkan)
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/ext_power.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/rgb.h>


// Layers
#define _QWERTY       0
#define _LOWER         1
#define _RAISE         2
// #define _SPACE_RIGHT   3
// #define _SPACE_LEFT    4
#define _NAVIGATION    3
// #define _ADJUST        6

// Using layer taps on thumbs, having quick tap as well helps w/ repeating space
&lt {
  quick_tap_ms = <200>;
};

&left_encoder {
     resolution = <4>; 
};
&right_encoder {    
     resolution = <4>; 
};


/ {
    behaviors {
        ht: hold_tap {
            label = "hold_tap";
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <200>;
            quick-tap-ms = <150>;
            global-quick-tap;
            bindings = <&kp>, <&kp>;
        };
        rgb_encoder_right: rgb_encoder_right {
            compatible = "zmk,behavior-sensor-rotate";
            label = "RGB_ENCODER_RIGHT";
            #sensor-binding-cells = <0>;
            bindings =  <&rgb_ug RGB_BRI>, <&rgb_ug RGB_BRD>;
        };
        rgb_encoder_left: rgb_encoder_left {
            compatible = "zmk,behavior-sensor-rotate";
            label = "RGB_ENCODER_LEFT";
            #sensor-binding-cells = <0>;
            bindings = <&rgb_ug RGB_EFF>, <&rgb_ug RGB_EFR>;
        };
        
    };

    keymap {
        compatible = "zmk,keymap";
        default_layer {
       // ╭──────┬──────┬──────┬──────┬──────┬──────╮                          ╭──────┬──────┬──────┬──────┬──────┬──────╮
       // │  ESC │  Q   │  W   │  E   │  R   │  T   │                          │  Y   │  U   │  I   │  O   │   P  │ BKSP │
       // ├──────┼──────┼──────┼──────┼──────┼──────┤                          ├──────┼──────┼──────┼──────┼──────┼──────┤
       // │   Z  │  A   │  S   │  D   │  F   │  G   │                          │  H   │  J   │  K   │  L   │  ;   │  '   │
       // ├──────┼──────┼──────┼──────┼──────┼──────┤                          ├──────┼──────┼──────┼──────┼──────┼──────┤
       // │SFT_CL│  Z   │  X   │  C   │  V   │  B   │         (ENCODERS)       │  N   │  M   │,     │.     │  /   │      |  
       // ╰──────┴──────┴──────┼──────┼──────┼──────┴─╮ ╭────────╮╭────────╮ ╭─┴──────┼──────┼──────┼──────┴──────┴──────╯
       //                      │  NAV │LOWER │ SPACE  │ │  PAUSE ││  PAUSE │ │ SPACE  │RAISE │ WIN  │
       //                      ╰──────┴──────┴────────╯ ╰────────╯╰────────╯ ╰────────┴──────┴──────╯            
            label = "qwerty";
            bindings = <
                &kp ESC        &kp Q      &kp W       &kp E       &kp R              &kp T                           &kp Y  &kp U    &kp I      &kp O     &kp P &kp BKSP
                &kp Z      &kp A      &kp S       &kp D       &ht LSHFT F              &kp G                            &kp H    &ht RSHFT J      &kp K       &kp L        &kp SEMI  &kp SQT
                &ht LSHFT CLCK &kp Z      &kp X       &kp C       &kp V              &kp B                           &kp N &kp M  &kp COMMA         &kp DOT            &kp FSLH     &kp KP_MINUS
                                    &lt _NAVIGATION TAB    &lt _LOWER SPACE    &ht LCMD ENTER         &kp C_PLAY_PAUSE  &kp C_MUTE       &ht RCTRL TAB          &lt _RAISE BSPC     &lt _NAVIGATION RIGHT_GUI
            >;
            
        };


        lower_layer {
        // ╭──────┬──────┬──────┬──────┬──────┬──────╮                          ╭──────┬──────┬──────┬──────┬──────┬──────╮
        // │ ESC  │      │      │      │      │   !  │                          │  (   │  )   │  &   │      │      │ DEL  │
        // ├──────┼──────┼──────┼──────┼──────┼──────┤                          ├──────┼──────┼──────┼──────┼──────┼──────┤
        // │      │      │      │      │      │   @  │                          │  {   │  }   │  _   │  $   │  #   │      │
        // ├──────┼──────┼──────┼──────┼──────┼──────┤                          ├──────┼──────┼──────┼──────┼──────┼──────┤
        // │      │      │      │      │      │   ^  │                          │  [   │  ]   │  |   │  ~   │  \   │      │
        // ╰──────┴──────┴──────┼──────┼──────┼──────┴─╮ ╭────────╮╭────────╮ ╭─┴──────┼──────┼──────┼──────┴──────┴──────╯
        //                      │  ALT │LOWER │ SPACE  │ │  PREV  ││  NEXT  │ │  ENTER │RAISE │ WIN  │
        //                      ╰──────┴──────┴────────╯ ╰────────╯╰────────╯ ╰────────┴──────┴──────╯    
            label = "Lower";        
            bindings = <
                &kp ESC  &trans  &trans   &trans        &trans          &kp EXCL                        &kp LPAR  &kp RPAR      &kp AMPS        &kp AMPS           &kp PIPE  &trans
                &trans   &trans  &trans   &trans        &trans          &kp AT                        &kp LBRC  &kp RBRC      &kp UNDER          &kp DOLLAR           &kp HASH     &kp BACKSLASH
                &trans   &trans  &trans   &trans        &trans          &kp CARET                        &kp LBKT  &kp RBKT      &kp PIPE   &kp TILDE  &kp BSLH &none
                                 &kp ALT  &kp SPACE    &kp LCTRL         &rgb_ug RGB_TOG  &ext_power EP_TOG       &kp RCMD      &kp ALT     &kp SHIFT
            >;
            
            sensor-bindings = <&inc_dec_kp C_BRI_INC C_BRI_DEC &inc_dec_kp C_VOL_UP C_VOL_DN>;
        };
        
        
        raise_layer {
        // ╭──────┬──────┬──────┬──────┬──────┬──────╮                          ╭──────┬──────┬──────┬──────┬──────┬──────╮
        // │ ESC  │  /   │  7   │  8   │  9   │  +   │                          │  F1  │  F2  │  F3  │  F4  │      │      │
        // ├──────┼──────┼──────┼──────┼──────┼──────┤                          ├──────┼──────┼──────┼──────┼──────┼──────┤
        // │      │  *   │  4   │  5   │  6   │  -   │                          │  F5  │  F6  │  F7  │  F8  │      │      │
        // ├──────┼──────┼──────┼──────┼──────┼──────┤                          ├──────┼──────┼──────┼──────┼──────┼──────┤
        // │      │  %   │  1   │  2   │  3   │  =   │                          │  F9  │  F10 │ F11  │  F1  │      │      │
        // ╰──────┴──────┴──────┼──────┼──────┼──────┴─╮ ╭────────╮╭────────╮ ╭─┴──────┼──────┼──────┼──────┴──────┴──────╯
        //                      │  ALT |  0   │ SPACE  │ │  PAUSE ││  PAUSE │ │ CMD   │RAISE │ WIN  │
        //                      ╰──────┴──────┴────────╯ ╰────────╯╰────────╯ ╰────────┴──────┴──────╯   
            label = "Raise";         
            bindings = <
                &kp ESC      &kp AMPS    &kp N7    &kp N8        &kp N9         &kp KP_PLUS                      &kp F1  &kp F2                  &kp F3            &kp F4       &trans   &kp DEL
                &trans       &kp MINUS   &kp N4    &kp N5        &kp N6         &kp KP_MINUS                       &kp F5  &kp F6                  &kp F7            &kp F8       &trans   &trans
                &caps_word   &kp PRCNT   &kp N1    &kp N2        &kp N3         &kp EQUAL                            &kp F9  &kp F10                 &kp F11           &kp F12      &trans   &trans
                                         &kp LALT  &kp N0    &kp LCMD         &kp C_PLAY_PAUSE  &kp C_MUTE       &kp RCMD          &none     &kp RIGHT_GUI
            >;

            sensor-bindings = <&rgb_encoder_left &rgb_encoder_right>;
        };

        // space_right_layer {
        // // ╭──────┬──────┬──────┬──────┬──────┬──────╮                          ╭──────┬──────┬──────┬──────┬──────┬──────╮
        // // │ ESC  │      │      │  €   │  £   │  Ğ   │                          │      │      │      │      │      │      │
        // // ├──────┼──────┼──────┼──────┼──────┼──────┤                          ├──────┼──────┼──────┼──────┼──────┼──────┤
        // // │      │  !   │  @   │  Ş   │  ₺   │      │                          │      │      │      │      │      │      │
        // // ├──────┼──────┼──────┼──────┼──────┼──────┤                          ├──────┼──────┼──────┼──────┼──────┼──────┤
        // // │      │      │      │  Ç   │      │      │                          │      │      │      │      │      │      │
        // // ╰──────┴──────┴──────┼──────┼──────┼──────┴─╮ ╭────────╮╭────────╮ ╭─┴──────┼──────┼──────┼──────┴──────┴──────╯
        // //                      │  ALT │LOWER │ SPACE  │ │  PAUSE ││  PAUSE │ │ SPACE  │RAISE │ WIN  │
        // //                      ╰──────┴──────┴────────╯ ╰────────╯╰────────╯ ╰────────┴──────┴──────╯
        //     label = "Space R";            
        //     bindings = <
        //         &kp ESC      &trans    &trans     &kp RA(E)        &kp  RA(N2)     &kp LBKT                      &trans            &trans                  &trans          &trans   &trans    &trans
        //         &trans       &kp EXCL  &kp RA(Q)  &kp SEMI         &kp  RA(T)      &trans                        &trans            &trans                  &trans          &trans   &trans    &trans
        //         &trans       &trans    &trans     &ht LSHFT  DOT   &trans          &trans                        &trans            &trans                  &trans          &trans   &trans    &trans
        //                                &kp LALT  &lt _LOWER TAB    &lt _SPACE_LEFT SPACE         &kp C_PLAY_PAUSE  &kp C_MUTE       &lt _SPACE_RIGHT SPACE          &mo _RAISE     &kp RIGHT_GUI
        //         >;
        // };

        // space_left_layer {
        // // ╭──────┬──────┬──────┬──────┬──────┬──────╮                          ╭──────┬──────┬──────┬──────┬──────┬──────╮
        // // │      │      │      │      │      │      │                          │      │      │  Ü   │      │  :   │ DEL  │
        // // ├──────┼──────┼──────┼──────┼──────┼──────┤                          ├──────┼──────┼──────┼──────┼──────┼──────┤
        // // │      │      │      │      │      │      │                          │      │      │  I   │  I   │  Ö   │   `  │
        // // ├──────┼──────┼──────┼──────┼──────┼──────┤                          ├──────┼──────┼──────┼──────┼──────┼──────┤
        // // │      │      │      │      │      │      │                          │      │      │  ^   │  ~   │  ?   │ ENT  │
        // // ╰──────┴──────┴──────┼──────┼──────┼──────┴─╮ ╭────────╮╭────────╮ ╭─┴──────┼──────┼──────┼──────┴──────┴──────╯
        // //                      │  ALT │LOWER │ SPACE  │ │RGB_TOG ││ EP_TOG │ │ SPACE  │RAISE │ WIN  │
        // //                      ╰──────┴──────┴────────╯ ╰────────╯╰────────╯ ╰────────┴──────┴──────╯
        //     label = "Space L";            
        //     bindings = <
        //         &trans       &trans    &trans     &trans         &trans             &trans                     &trans          &trans      &kp RBKT            &trans         &kp LS(SLASH)   &kp DEL
        //         &trans       &trans    &trans     &trans         &trans             &trans                     &trans          &trans      &kp LS(I)           &kp I          &kp COMMA       &kp RA(NON_US_HASH)
        //         &trans       &trans    &trans     &trans         &trans             &trans                     &trans          &trans      &ht RSHFT RS(N3)    &kp RA(RBKT)   &kp UNDER       &trans
        //                                &kp LALT  &lt _LOWER TAB    &lt _SPACE_LEFT SPACE       &rgb_ug RGB_TOG  &ext_power EP_TOG     &lt _SPACE_RIGHT SPACE          &mo _RAISE     &kp RIGHT_GUI
        //     >;
        //     sensor-bindings = <&rgb_encoder_left &rgb_encoder_right>;
        // };

        navigation_layer {
        // ╭──────┬──────┬──────┬──────┬──────┬──────╮                          ╭──────┬──────┬──────┬──────┬──────┬──────╮
        // │ ESC  │      │      │      │      │      │                          │C_PREV│ PGUP │  UP  │      │      │      │
        // ├──────┼──────┼──────┼──────┼──────┼──────┤                          ├──────┼──────┼──────┼──────┼──────┼──────┤
        // │      │      │      │ ctrl │alt   │ cmd  │                          │ LEFT │ UP   │ DOWN │ RGHT │ END  │MPLY  │
        // ├──────┼──────┼──────┼──────┼──────┼──────┤                          ├──────┼──────┼──────┼──────┼──────┼──────┤
        // │      │      │      │      │      │      │                          │C_NEXT│PGDOWN│      │VLDOWN│ VLUP │MUTE  │
        // ╰──────┴──────┴──────┼──────┼──────┼──────┴─╮ ╭────────╮╭────────╮ ╭─┴──────┼──────┼──────┼──────┴──────┴──────╯
        //                      │  ALT │LOWER │ SPACE  │ │  PAUSE ││  PAUSE │ │ SPACE  |SHIFT │ WIN  │
        //                      ╰──────┴──────┴────────╯ ╰────────╯╰────────╯ ╰────────┴──────┴──────╯   
            label = "Navi";     
            bindings = <
                &kp ESC      &trans    &trans     &trans           &trans       &trans       &kp C_PREV              &kp PG_UP   &kp UP                  &trans         &trans         &trans
                &trans       &trans    &trans     &kp LCTRL           &kp LALT       &kp LCMD       &kp LEFT       &kp UP    &kp DOWN                &kp RIGHT      &kp END        &kp C_PLAY_PAUSE
                &trans       &trans    &trans     &trans           &trans       &trans       &kp C_NEXT              &kp PG_DN   &none                   &kp C_VOL_DN   &kp C_VOL_UP   &kp C_MUTE
                                       &none  &kp LALT    &kp LCMD         &kp C_PLAY_PAUSE  &kp C_MUTE       &kp RSHFT         &kp RSHFT     &kp RIGHT_GUI
            >;
        };

        // adjust_layer {
        // // ╭──────┬──────┬──────┬──────┬──────┬──────╮                          ╭──────┬──────┬──────┬──────┬──────┬──────╮
        // // │ BRI+ │ SAT+ │ HUE+ │ ANI+ │      │ TOG  │                          │  BT1 │ BT2  │ BT3  │ BT4  │ BT5  │BT_CLR│
        // // ├──────┼──────┼──────┼──────┼──────┼──────┤                          ├──────┼──────┼──────┼──────┼──────┼──────┤
        // // │ BRI- │ SAT- │ HUE- │ ANI- │      │      │                          │      │      │      │EP_ON │EP_OFF│EP_TOG│
        // // ├──────┼──────┼──────┼──────┼──────┼──────┤                          ├──────┼──────┼──────┼──────┼──────┼──────┤
        // // │      │      │      │      │      │      │                          │RESET │ BOOT │      │O_USB │O_BLE │OUTTOG│
        // // ╰──────┴──────┴──────┼──────┼──────┼──────┴─╮ ╭────────╮╭────────╮ ╭─┴──────┼──────┼──────┼──────┴──────┴──────╯
        // //                      │  ALT │LOWER │ SPACE  │ │  PAUSE ││  PAUSE │ │ SPACE  │RAISE │ WIN  │
        // //                      ╰──────┴──────┴────────╯ ╰────────╯╰────────╯ ╰────────┴──────┴──────╯    
        //     label = "Adjust";        
        //     bindings = <
        //         &rgb_ug RGB_BRI &rgb_ug RGB_SAI &rgb_ug RGB_HUI &rgb_ug RGB_EFF &none &rgb_ug RGB_TOG              &bt BT_SEL 0 &bt BT_SEL 1  &bt BT_SEL 2 &bt BT_SEL 3       &bt BT_SEL 4        &bt BT_CLR
        //         &rgb_ug RGB_BRD &rgb_ug RGB_SAD &rgb_ug RGB_HUD &rgb_ug RGB_EFR &none &none                        &none        &none         &none        &ext_power EP_ON   &ext_power EP_OFF   &ext_power EP_TOG
        //         &none           &none           &none           &none           &none &none                        &sys_reset   &bootloader   &none        &out OUT_USB       &out OUT_BLE        &out OUT_TOG
        //                                         &none           &none           &none         &none      &none     &none        &none        &none
        //     >;
        // };
    };
};






